.team-genarator-output {
  width: 70%;
  height: 350px;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 15px;
}

.output-g {
  text-align: center;
  margin-top: 3px;
}
#generated-output1 {
  width: 30%;
  border: 1px solid black;
  border-radius: 5px;
  margin: 3px;
  text-align: center;
  text-transform: uppercase;
}
footer {
  background: #343a40;
  padding: 15px 23px;
  color: white;
  text-align: center;
  margin-top: 60px;
}
footer span a {
  color: #00db71;
  text-decoration: none;
}
footer span a:hover {
  text-decoration: underline;
}
